.options{
    display:  flex;
    flex-direction: column;
    gap: 10px;
}
body{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}
.container{
    width: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color:darkgray;
    padding: 20px;
}
.options li{
    list-style: none;
    display: flex;
    gap: 10px;
    margin: 10px 10px;
    background-color: antiquewhite;
    height: 40px;
    align-items: center;
    padding-left: 20px;
}

button{
    cursor: pointer;
    color: white;
    background-color: crimson;
}

button:hover{
    background-color: chartreuse;
    color: black;
}
